*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0D7377;
}
.container{
    width: 400px;;
    background: #212121;
    padding: 30px;
    border: 5px solid #212121;
    border-radius: 10px;
    max-height: 530px;
    outline: none;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    color:#FFFFFF;
    padding-bottom: 5px;
 }
.container form .user_details{
    margin-top: 5px;
    color:#FFFFFF;
}
.user_details .input_box .details{
    color:#FFFFFF;
    margin-bottom: 3px;
    display: block;
    padding: 1px;
    font-size: 15px;
}
.user_details .input_box input{
    width: 100%;
    height: 22px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #323232;
    color:#FFFFFF;
    border: none;
    border-radius: 5px;
}
.gender_details .gender_title{
    color:#FFFFFF;
    margin-top: 3px;
    font-size: 15px;
}
.gender_details .category{
    margin-top: 3px;
    font-size: 15px;
 }
 .gender_details .category label{
    color:#FFFFFF;
    cursor: pointer;
    font-size: 15px;
 }
 .gender_details .category input{
    color:#FFFFFF;
 }
 .button input{
     margin-top: 15px;
     width: 100%;
     padding: 10px;
     border-radius: 2px;
     background-color:#0D7377;
     border: none;
     cursor: pointer;
     font-size: 15px;
     font-weight: 350;
     text-align: center;
     color: white;
     letter-spacing: 1px;
 }
 .button input:hover{
       background-color: #7A38DA;
 }
 @media(max-width: 584px){
     .container{
         max-width: 100%;
     }
     form .user_details .input_box{
         margin-bottom: 2px;
         width: 100%;
     }
     form .gender_details .category{
        width: 100%;
     }
     .container form .user_details{
         max-width: 320px;
         overflow-y: scroll;
         max-height: 425px;
     }
     .user_details::-webkit-scrollbar{
         width: 0;
     }
     .button input{
        font-weight: 300;
     }
     .user_details .button{
         height: 60px;
     }
 }
 
